<h1>Welcome to Use Email Scheduling App</h1>



<div id="event" >
  <h2>Events</h2>
  <%= link_to 'Add a New Event', new_event_path %>
  <% @events.each do |event| %>
   <ul>
     <li><%= link_to "#{event.name}", edit_event_path(event) %></li>
     <li><%= event.schedule_time %></li>
   </ul>
  <% end %>
</div>

<div id="contact" >
  <h2>Contacts</h2>
  <%= link_to 'Add a New Contact', new_contact_path %>
  <% @contacts.each do |contact| %>
   <ul>
     <li><%= link_to "#{contact.first} #{contact.last}", edit_contact_path(contact) %></li>
     <li><%= contact.birthday %></li>
   </ul>
  <% end %>
</div>

