<h1>Welcome to Use Email Scheduling App</h1>



<div id="event" >
  <h2><%= link_to 'Events', events_path, :title => "See all events" %></h2>
  <%= link_to 'Create a New Event', new_event_path, :class => "create" %>
  <% @events.each do |event| %>
   <ul>
     <li class="event-item"><%= link_to raw("<span>#{event.schedule_time.to_s(:date)}</span> #{event.name}"), event %></li>
     <li class="edit"><%= link_to 'edit', edit_event_path(event) %></li>
     <li class="delete"><%= link_to 'delete', event, :confirm => 'Are you sure?', :method => :delete %></li>
   </ul>
  <% end %>
  <p class="link-to-more"><%= link_to 'see all events', events_path %><p>
</div>

<div id="contact" >
  <h2><%= link_to 'Contacts', contacts_path, :title => "See all contacts" %></h2>
  <%= link_to 'Add a New Contact', new_contact_path, :class => "create" %>
  <% @contacts.each do |contact| %>
   <ul>
     <li class="contact-item"><%= link_to raw("#{contact.first} #{contact.last} <span>#{if !contact.birthday.nil? then contact.birthday.to_s(:bd) end}</span>"), contact %></li>
     <li class="edit"><%= link_to 'edit', edit_contact_path(contact) %></li>
     <li class="delete"><%= link_to 'delete', contact, :confirm => 'Are you sure?', :method => :delete %></li>
   </ul>
  <% end %>
  <p class="link-to-more"><%= link_to 'see all contacts', contacts_path %><p>
</div>

