<h1>events</h1>

<table>
  <tr>
    <th class="e-name">Name</th>
    <th class="e-time">Time</th>
    <th class="e-subject">Subject</th>
    <th class="e-message">Message</th>
    <th class="e-contacts">Contacts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <% if event.status == 0 then htmclass="unsent" else htmclass="sent" end %>
  <tr class="<%= htmclass %>">
    <td><%= event.name %></td>
    <td><%= event.schedule_time.to_s(:date) %></td>
    <td><%= event.subject %></td>
    <td><%= event.message %></td>
    <td><%= event.contacts %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
