<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Time:</b>
  <%= @event.schedule_time %>
</p>

<p>
  <b>Subject:</b>
  <%= @event.subject %>
</p>

<p>
  <b>Message:</b>
  <%= @event.message %>
</p>

<p>
  <b>Contacts:</b>
  <%= @event.contacts %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
